@import '_animations';
.cone {
  width: 0;
  height: 800px;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 400px solid $backgroundColor;
  opacity: 0.2;
  border-radius: 50%;
  animation: rotationPulse 0.8s infinite linear;
  @for $i from 1 through 20 {
    &:nth-child(n+#{$i}) {
      // animation-delay: (random(50) / 100) + 0.1s;
      animation-duration: (random(150)/ 100)+(($i * 0.7s) % 1);
      @if ($i % 9==0) {
        animation-direction: reverse;
      }
      @else {
        animation-direction: normal;
      }
    }
  }
}
